/* MOBILE */
@media (max-width:768px){

	nav{
		position:fixed;
		top:0;
		right:-100%;
		flex-direction:column;
		width:200px;
		height:100%;
		background:white;
		padding:60px 20px;
		transition:0.3s;
		box-shadow:-2px 0 10px rgba(0, 0, 0, 0.753);
		z-index:999;
	}

	nav.show{
		right:0;
	}

	.hamburger{
		display:flex;
	}

	/* Animazione hamburger -> X */
	.hamburger.active div:nth-child(1){
		transform: rotate(45deg) translate(5px, 5px);
	}

	.hamburger.active div:nth-child(2){
		opacity: 0;
	}

	.hamburger.active div:nth-child(3){
		transform: rotate(-45deg) translate(6px, -6px);
	}

	/* Colore elegante quando attivo */
	.hamburger.active div{
		background:rgba(0, 0, 0, 0.753);
	}

    .hamburger{
	position:relative;
	z-index:1000;
}
}